{% extends "base.html" %}

{% block main_content %}

<p>Name: {{ node.name }}</p>
<p>Address: {{ node.address }}</p>
<p>Groups:
  <ul>
   {% for group in node.groups.all %}
     <li><a href="{% url nodes.views.group group.id %}">{{ group.name }}</a></li>
   {% endfor %}
  </ul>
</p>
<p><a href="{% url nodes.views.node_objects node.id %}">Object Sessions</a></p>
<p><a href="{% url nodes.views.node_transfer_requests node.id %}">Transfer Requests</a></p>
<p><a href="{% url nodes.views.node_download_planner_downloads node.id %}">Download Planner</a></p>
<p><a href="{% url nodes.views.node_prox_overview node.id %}">Proximity Overview</a></p>
<p><a href="{% url nodes.views.node_debug node.id %}">Debug Info</a></p>
<p><a href="{% url nodes.views.node_list_commands node.id %}">All Commands</a></p>

{% endblock main_content %}
