{% extends "base.html" %}

{% block main_content %}

<div class="row">
  <div class="span4">
    <table class="table table-bordered table-striped">
      <thead>
        <tr><td>ID</td> <td></td></tr>
      </thead>
      <tbody>
        {% for object in objects %}
        <tr>
          <td>{{ object }}</td>
          <td><a class="btn btn-danger" href="{% url nodes.views.node_disconnect_object node.id object %}">Disconnect</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock main_content %}
