{% extends "base.html" %}

{% block main_content %}

<div id="chart"></div>

<style>
.node circle {
  fill: lightsteelblue;
  stroke: lightsteelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>

<script type="text/javascript">
var data_url = "{% url nodes.views.node_prox_handler_nodes node.id handler %}";
var disconnect_url = "{% url nodes.views.node_disconnect_object node.id "OBJID" %}";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}nodes/js/prox_handler_tree_vis.js"></script>

<div class="row">
  <div class="span4">
    <table class="table table-bordered">
      <tbody>
        <tr><td>ID</td><td id="selected-node-id"></td></tr>
        <tr><td>Center</td><td id="selected-node-center"></td></tr>
        <tr><td>Radius</td><td id="selected-node-radius"></td></tr>
        <tr><td># Cuts</td><td id="selected-node-cuts"></td></tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span4">
    <input id="disconnect-button" class="btn btn-danger" type="button" value="Disconnect">
  </div>
</div>

{% endblock main_content %}
